@CHARSET "UTF-8";

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;
	width: 97.5%;
	padding-top: 35px;
}

.updown {
	color: white;
	background-color: rgba(0, 0, 0, 0.72);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	color: #fffcfc !important;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
}

.dataTables_filter {
	color: white;
}

.odd {
	background-color: rgba(249, 249, 249, 0.8);
}

.even {
	background-color: rgba(255, 255, 255, 0.96);
}

#example_length {
	display: none;
}

#example_filter {
	color: white;
}

.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
	color: black;
}